<ion-header class="color-header">
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="../../../assets/img/logoEscudo.png" />
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <app-events-list></app-events-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="addEventBtn" [routerLink]="['/add-event']" fill="solid">AÑADIR EVENTO</ion-button>
  </ion-toolbar>
</ion-footer>