<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col size="5" offset="2">
          <img class="logo" src="../../../assets/img/logo.png"/>
        </ion-col>
      </ion-row>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/register-form"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre del usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type ="password"></ion-input>
  </ion-item>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" fill="outline">Iniciar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-content>
