
    <head>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="style">
    </head>

      <ion-header>
      </ion-header>

      <ion-content padding class="background">

        <ion-grid>
          <ion-row>
            <ion-col size="4">
                <div class="imgEventPark">
                  <img style="width: 40px; height: 40px;" src="assets/img/parque.png"/>
                </div>
            <ion-col>
            <ion-col size="">
                <div class="evenService">
                  <ion-searchbar></ion-searchbar>
                </div>
            <ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>

