@font-face{
    font-family: Slabo;
    src : url('../../assets/fonts/slabo.woff2')
}

*{
    font-family: Slabo;
}
.transparent {
    background: transparent !important;
}
.title {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.list {
    margin-bottom: 10px;
}
.item {
    margin: 1px 0;
    border: none;
    background: transparent !important;
}
ion-item {
    --ion-item-background: transparent !important;
    
}

.thumbnail {
    margin-left: 3px;
    margin-right: 10px;
}

.hour {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -24px;
}

.date {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 0px;
}

.detailButton {
    color: saddlebrown;
    background-color: yellow;
    border-radius: 2px;
    text-transform: uppercase;
    margin-left: 0px;
}