<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
          <img src="../../../assets/img/logo.png"/>
      </div>
    </ion-title>
    <!-- <ion-button (click)="loadMap()" shape="round" fill="outline"></ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="map-wrapper">
        <div id="map_center">
          
        </div>
        <div #map id="map"></div>
      </div>
      <div id="address">
        <span>{{address}}</span>
      </div>

</ion-content>


