<ion-header>
    <ion-toolbar>
      <ion-title>
        <img class="logo" src="../../../assets/img/logoEscudo.png" />
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre del evento</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha del evento</ion-label>
    <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2010" value="2005-06-17T11:06Z"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-button expand="block" fill="solid">
      AÑADIR
    </ion-button>
  </ion-toolbar>
</ion-footer>