<ion-header class="color-header"> 
    <ion-toolbar>
      <ion-title>
        <img class="logo" src="../../../assets/img/logoEscudo.png" />
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-avatar>
          <img class="img-profile" src="assets/img/unknown-user-img.png" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8">
        <ion-row>
          <ion-col>
            <p>Usuario:</p>
          </ion-col>
          <ion-col>
            <p>{{user.user}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Email:</p>
          </ion-col>
          <ion-col>
            <p>{{user.mail}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>Descripción:</p>
      </ion-col>
      <ion-col size="12">
        <p>{{user.description}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-events-list></app-events-list>
 
</ion-content>