/*.bg-class{
    --background: linear-gradient(197deg, rgba(255,220,150,34) 100%, rgba(255,255,222,49) 100%) !important;
  }
*/

.events{
    height: 45% !important;
    border: 1px solid black;

}

imgEventPark{
    float: left;
    width: 10% !important;
    height: 10% !important;
}

txtEventPark{
    height: 5% !important;
    border: 1 pix solid black;
    float: left;
}



.memberImage{
    float: right;
    margin-top:5%;
    height: 75px; 
    width: 75px; 
    border: 7px solid rgb(253, 241, 0);
    border-radius: 50%;
    box-shadow: 0 5 10px gray;
    display: inline-block;
}

.datosUsuario{

    margin-left: 5%;
    margin-top: 5%;
    height: 55px; 
}

