<ion-content padding class="background">

  <ion-img class="bigLogo" src="../../../assets/img/logo.png"></ion-img>
  <ion-item>
    <ion-label position="floating">Nombre del usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button [routerLink]="['/home']" expand="block" fill="solid">REGISTRARME</ion-button>
  
  <ion-row class="alreadyRegistered">
    <ion-col size="8" offset="3">
      <p class="text">Ya tengo cuenta:
      <span [routerLink]="['/auth/login-form']" shape="round" size="small" style="text-decoration-line: underline" >login</span></p>
    </ion-col>
  </ion-row>
</ion-content>