<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="../../../assets/img/logoEscudo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating">Nombre del usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>



  <ion-button [routerLink]="['/home']" shape="round" fill="outline">Registrarme</ion-button>


  <p>Ya tengo cuenta</p>
  <ion-button [routerLink]="['/auth/login-form']" shape="round">LOGIN</ion-button>

</ion-content>