<ion-header class="color-header">
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="../../../assets/img/logoEscudo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-item>
    <ion-label position="floating">Nombre del usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>



  <ion-button [routerLink]="['/home']" expand="block" fill="solid">REGISTRARME</ion-button>
  <ion-row class="alreadyRegistered">
    <ion-col size="5" offset="3">
      <p class="text">Ya tengo cuenta</p>
    </ion-col>
    <ion-col size="3">
      <ion-button [routerLink]="['/auth/login-form']" shape="round" size="small">LOGIN</ion-button>
    </ion-col>
  </ion-row>
</ion-content>